.bg-light {
    background-color: #01A2C5!important;
 

}
.nav-linkcls{
    background-color: sandybrown;
    border-radius: 20px;
    margin-right: 79px;
    cursor: pointer;
    padding: 9px 22px 9px 22px !important;
    color: white !important;
    
}
.nav-linkcls-click{
    background-color: green;
    border-radius: 20px;
    margin-right: 79px;
    cursor: pointer;
    padding: 9px 22px 9px 22px !important;
    color: white !important;
}

.input-searchcls{
   
}